@{
    ViewData["Title"] = "Novo Cliente";
}

<h1 class="display-4">@ViewData["Title"]</h1>

<form method="post" action="@Url.Action("Salvar","Clientes")">

    <div class="form-group">
        <label for="exampleInputEmail1">Nome</label>
        <input type="text" class="form-control" id="nome" name="Nome">
    </div>

    <div class="form-group">
        <label for="exampleInputEmail1">Telefone</label>
        <input type="text" class="form-control" id="telefone" name="Telefone">
    </div>

    <div class="form-group">
        <label for="exampleInputPassword1">CEP</label>
        <input type="text" class="form-control" id="cep" name="Cep">
    </div>

    <div class="form-group">
        <label for="exampleInputPassword1">Endereço</label>
        <input type="text" class="form-control" id="endereco" name="Endereco">
    </div>

    <button type="submit" class="btn btn-primary">Salvar</button>

</form>